.env
.conda
assignments/yjmbjr.geojson
assignments/elevresults.geojson
some code/VoterMap.ipynb
Project/Behavioral_Risk_Factor_Surveillance_System__BRFSS__Prevalence_Data__2011_to_present__20241120.csv
Project/wqi_monthly_sample_data_20240606153920.csv
