.env
.conda
assignments/yjmbjr.geojson
assignments/elevresults.geojson
some code/VoterMap.ipynb
Project/Behavioral_Risk_Factor_Surveillance_System__BRFSS__Prevalence_Data__2011_to_present__20241120.csv
Project/wqi_monthly_sample_data_20240606153920.csv
Project/PFAS_WELLS.csv
Project/PFAS_VOCs.csv
Project/PFAS_SPIKE_LAB.csv
Project/PFAS_SPIKE_FIELD.csv
Project/PFAS_REP.csv
Project/PFAS_PHARMA.csv
Project/PFAS_LAB_BLANK.csv
Project/PFAS_INORGANICS_AND_OTHER.csv
Project/PFAS_GEOSPATIAL.csv
Project/PFAS_ENV.csv
Project/PFAS_Data_Dictionary.csv
Project/PFAS_BLANK.csv
Project/Pancreatic Cancer incd Rates 2017-21.csv
Project/NORS-Water-2021-Annual-Summary_Final_11082023_1.pdf
Project/NNDSS_-_TABLE_1L._Ehrlichiosis_and_Anaplasmosis__Ehrlichia_ewingii_infection_to_Giardiasis_20241108.csv
Project/svi_interactive_map.csv
